<div class="container">
    <form [formGroup]="campaignForm" (ngSubmit)="createCampaign()" *ngIf="loadForm">
        <mat-form-field class="field">
            <input matInput name="start" placeholder="Start" formControlName="start" type="date"/>
        </mat-form-field>

        <mat-form-field class="field">
            <input matInput name="end" placeholder="End" formControlName="end" type="date"/>
        </mat-form-field>

        <mat-form-field class="field">
            <input matInput name="number" placeholder="Number" formControlName="number" type="number"/>
        </mat-form-field>

        <mat-form-field class="field">
            <input matInput name="tagretAgeFrom" placeholder="Target age from" formControlName="targetAgeFrom" type="number"/>
        </mat-form-field>

        <mat-form-field class="field">
            <input matInput name="tagretAgeTo" placeholder="Target age to" formControlName="targetAgeTo" type="number"/>
        </mat-form-field>

        <mat-icon>person_outline</mat-icon>
      <mat-form-field class="example-chip-list">
          <mat-label>Tag a person</mat-label>
          <mat-chip-list #chipListTag aria-label="Fruit selection">
            <mat-chip *ngFor="let tag of tags" [selectable]="selectableTag"
                     [removable]="removableTag" (removed)="removeTag(tag)">
                     @{{tag.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New tag..."
                   [matChipInputFor]="chipListTag"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addTagOnBlur"
                   (matChipInputTokenEnd)="addTag($event)">
          </mat-chip-list>
      </mat-form-field>

        <div class="button">
            <button mat-raised-button type="submit">Submit</button>
        </div>
    </form>
</div>
