<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>			
			[%-5level]%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</layout>
	</appender>
	

	<appender name="FILE_all" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/spring-boot-logger-all.log</file>
		  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d | %p | %C{1.} | %m%n </Pattern>
        </encoder>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-all-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1KB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>	
	</appender>
	
	<appender name="FILE_warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/spring-boot-logger-warning.log</file>		
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d | %p | %C{1.} | %m%n </Pattern>
        </encoder>       
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
       		 <level>ERROR</level>
       		 <onMatch>DENY</onMatch>
        	 <onMismatch>NEUTRAL</onMismatch>
    	</filter>
    	<filter class="ch.qos.logback.classic.filter.LevelFilter">
       		 <level>INFO</level>
       		 <onMatch>DENY</onMatch>
        	 <onMismatch>NEUTRAL</onMismatch>
    	</filter>  
    	<rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-warn-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1KB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/spring-boot-logger-info.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
       		 <level>WARN</level>
       		 <onMatch>DENY</onMatch>
        	 <onMismatch>NEUTRAL</onMismatch>
    	</filter>
    	<filter class="ch.qos.logback.classic.filter.LevelFilter">
       		 <level>ERROR</level>
       		 <onMatch>DENY</onMatch>
        	 <onMismatch>NEUTRAL</onMismatch>
    	</filter>
		<encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d | %p | %C{1.} | %m%n </Pattern>
        </encoder>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-info-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1KB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>		
	</appender>

	 <logger name="bezbednost.controller" level="WARN">
		<appender-ref ref="FILE_warn" />
		<appender-ref ref="STDOUT" />	
	</logger> 
	
	<logger name="bezbednost.controller" level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />	
	</logger>
	
	
	<logger name="jdbc" level="OFF" />
	 <root level="info">
    	<appender-ref ref="STDOUT" />	
    	<appender-ref ref="FILE_all" />	
  	</root> 

</configuration>