<div class="container">
    <mat-card>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" id="username-ff">
                <mat-label>Email</mat-label>
                <input matInput id="email" placeholder="Email" name="email-ff" formControlName="email" class="civca">
                <mat-error
                    *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched && registerForm.get('email').errors['required']">
                    Please enter email</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" id="password-ff">
                <mat-label>Password</mat-label>
                <input matInput type="password" id="password" placeholder="Password" name="password-ff"
                    formControlName="password" class="civca">
                <mat-error
                    *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched && registerForm.get('password').errors['required']">
                    Please enter password</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" id="address-ff">
                <input matInput id="address" placeholder="Address" name="address-ff" formControlName="address"
                    class="civca">
                <mat-error
                    *ngIf="!registerForm.get('address').valid && registerForm.get('address').touched && registerForm.get('address').errors['required']">
                    Please enter address</mat-error>
            </mat-form-field>

            <div class="button">
                <button mat-flat-button name="button-ff" style="float: right;" color="primary"
                    type="submit">Register</button>
            </div>
        </form>
        <br />
    </mat-card>
</div>