.profile-image{
    background: black;
}

.profile-image img {
    opacity: 1;
    /*filter: alpha(opacity=40);*/
}

.profile-image img:hover {
    opacity: 0.6;
}

.dots {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* The Arial font appears to have "square" dots */
    font-size: 36px; /* The size of the dots */
    line-height: 0; /* helps vertically position the dots */
    margin-top: -10px; /* helps "raise" the dots higher */
    letter-spacing: -2px; /* "squeezes" the dots closer together */
}

.dotButton {
    margin-top: 7px;
    margin-left: 3px;
}
