
<div class="container light-style flex-grow-1 container-p-y">

    <h3 class="font-weight-bold py-3 mb-4">
       <b>Account settings</b>
    </h3>

    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="/accounts/edit">Edit profile</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="/accounts/privacy">Privacy and Security</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="/accounts/push_notifications">Push Notifications</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-edit">

              <div class="card-body media align-items-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-80">
                <div class="media-body ml-4">
                  <label class="btn btn-outline-primary">
                    Upload new photo
                    <input type="file" class="account-settings-fileinput">
                  </label> &nbsp;
                  <button type="button" class="btn btn-default md-btn-flat">Reset</button>
                </div>
              </div>
              <hr class="border-light m-0">

              <div class="container">
                  <mat-card>
                      <!--mat-tab-group>
                          <mat-tab label="Edit profile"-->
                              <form [formGroup]="editForm" (ngSubmit)="editUser()">
                                  <mat-form-field class="field">
                                      <input matInput name="name" placeholder="Name" formControlName="name" />
                                  </mat-form-field>

                                  <mat-form-field class="field">
                                      <input matInput name="surname" placeholder="Surname" formControlName="surname" />
                                  </mat-form-field>

                                  <mat-form-field class="field">
                                      <input matInput name="username" placeholder="Username" formControlName="username" />
                                  </mat-form-field>

                                  <mat-form-field class="field">
                                      <input matInput name="website" placeholder="Website" formControlName="website" />
                                  </mat-form-field>

                                  <mat-form-field class="field">
                                      <input matInput name="biography" placeholder="Bio" formControlName="biography" />
                                  </mat-form-field>

                                  <mat-form-field class="field">
                                      <input matInput name="email" placeholder="Email" formControlName="email" />
                                  </mat-form-field>

                                  <mat-form-field class="field">
                                      <input matInput name="phone" placeholder="Phone number" formControlName="phone" />
                                  </mat-form-field>

                                  <mat-form-field class="field">
                                      <input matInput name="date_of_birth" placeholder="Date of birth" formControlName="date_of_birth" />
                                  </mat-form-field>

                                  <div class="ca-cont">
                                      <label for="gender" class="ca-margin">Gender: </label><br>
                                      <mat-radio-group aria-label="Select an option" formControlName="gender">
                                          <mat-radio-button id="caMale" value="male">Male</mat-radio-button><br>
                                          <mat-radio-button id="caFemale" value="female">Female</mat-radio-button><br>
                                          <mat-radio-button id="caOther" value="other">Other</mat-radio-button>
                                      </mat-radio-group>
                                  </div>
                                  <br>
                                  <div class="button">
                                      <button mat-raised-button type="submit">Save changes</button>&nbsp;
                                      <button type="button" class="btn btn-default"><a href="">Cancel</a></button>
                                  </div>
                              </form>
                          <!--/mat-tab>
                      </mat-tab-group-->
                  </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="text-right mt-3">
      <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
      <button type="button" class="btn btn-default">Cancel</button>
    </div> -->

  </div>
