<div class="container">
    <mat-card>
        <mat-tab-group>
            <mat-tab label="Root">
                <form [formGroup]="rootForm" (ngSubmit)="createRoot()">
                    <mat-form-field class="field">
                        <input matInput name="commonName" placeholder="Common name" formControlName="commonName" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="alias" placeholder="Alias" formControlName="alias" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="orgName" placeholder="Organisation name" formControlName="orgName" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="orgUnit" placeholder="Organisation unit" formControlName="orgUnit" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="country" placeholder="Country" formControlName="country" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="email" placeholder="Email" formControlName="email" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="serailNum" placeholder="Serial number" formControlName="serialNum" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="validity" placeholder="Validity" formControlName="validity" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="purpose" placeholder="Purpose" formControlName="purpose" />
                    </mat-form-field>
                    <div class="button">
                        <button mat-raised-button type="submit">Submit</button>
                    </div>
                </form>
            </mat-tab>

            <mat-tab label="Other">
                <form [formGroup]="otherForm" (ngSubmit)="createOther()">
                    <mat-form-field class="field">
                        <input matInput name="issuerAlias" placeholder="Issuer alias" formControlName="issuerAlias" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="commonName" placeholder="Common name" formControlName="commonName" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="alias" placeholder="Alias" formControlName="alias" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="orgName" placeholder="Organisation name" formControlName="orgName" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="orgUnit" placeholder="Organisation unit" formControlName="orgUnit" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="country" placeholder="Country" formControlName="country" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="email" placeholder="Email" formControlName="email" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="serialNum" placeholder="Serial number" formControlName="serialNum" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="validity" placeholder="Validity" formControlName="validity" />
                    </mat-form-field>

                    <mat-form-field class="field">
                        <input matInput name="purpose" placeholder="Purpose" formControlName="purpose" />
                    </mat-form-field>

                    <div class="ca-cont">
                        <label for="isCA" class="ca-margin">CA: </label><br>
                        <mat-radio-group aria-label="Select an option" formControlName="isCA">
                            <mat-radio-button id="caYes" value="yes">Yes</mat-radio-button><br>
                            <mat-radio-button id="caNo" value="no">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <br>
                    <div class="button">
                        <button mat-raised-button type="submit">Submit</button>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>