<div class="container">
    <form id="post-form" [formGroup]="postForm" (ngSumbit)="onSubmit()">
        <mat-form-field>
            <label>Common name: </label>
            <input matInput id="commonName" name="commonName" formControlName="commonName" />
        </mat-form-field>

        <mat-form-field>
            <label>Alias: </label>
            <input matInput id="alias" name="alias" formControlName="alias"/>
        </mat-form-field>

        <mat-form-field>
            <label>Organisation name: </label>
            <input matInput id="orgName" name="orgName" formControlName="orgName"/>
        </mat-form-field>

        <mat-form-field>
            <label>Organisation unit: </label>
            <input matInput id="orgUnit" name="orgUnit" formControlName="orgUnit"/>
        </mat-form-field>

        <mat-form-field>
            <label>Country: </label>
            <input matInput id="country" name="country" formControlName="country"/>
        </mat-form-field>

        <mat-form-field>
            <label>Email: </label>
            <input matInput id="email" name="email" formControlName="email"/>
        </mat-form-field>

        <mat-form-field>
            <label>Serial number: </label>
            <input matInput id="serialNum" name="serialNum" formControlName="serialNum"/>
        </mat-form-field>

        <mat-form-field>
            <label>Keystore name: </label>
            <input matInput id="ksName" name="ksName" formControlName="ksName"/>
        </mat-form-field>

        <mat-form-field>
            <label>Keystore password: </label>
            <input matInput type="password" id="ksPassword" name="ksPassword" formControlName="ksPassword"/>
        </mat-form-field>

        <mat-form-field>
            <label>Private key password: </label>
            <input matInput type="password" id="privateKeyPassword" name="privateKeyPassword" formControlName="privateKeyPassword"/>
        </mat-form-field>


        <mat-form-field>
            <label>Validity: </label>
            <input matInput id="validity" name="validity" formControlName="validity"/>
        </mat-form-field>

        <mat-form-field>
            <label>Purpose: </label>
            <input matInput id="purpose" name="purpose" formControlName="purpose"/>
        </mat-form-field>

        <button mat-raised-button color="accent" value="submit">Submit</button>
    </form>
</div>