<div>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput name="commonName" placeholder="Common name" formControlName="commonName"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="alias" placeholder="alias" formControlName="alias"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="orgName" placeholder="Organisation name" formControlName="orgName"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="orgUnit" placeholder="Organisation unit" formControlName="orgUnit"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="country" placeholder="Country" formControlName="country"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="email" placeholder="Email" formControlName="email"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="serailNum" placeholder="Serial number" formControlName="serialNum"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="ksName" placeholder="Keystore name" formControlName="ksName"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="ksPassword" placeholder="Keystore password" formControlName="ksPassword" type="password"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="privateKeyPassword" placeholder="Private key password" formControlName="privateKeyPassword" type="password"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="validity" placeholder="Validity" formControlName="validity"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput name="purpose" placeholder="Purpose" formControlName="purpose"/>
        </mat-form-field>

        <button mat-raised-button type="submit">Submit</button>
    </form>
</div>